<mat-card>
    <mat-card-title class="mb-3">Login</mat-card-title>

    <form action="">
        <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" required="" (ngModel)="userData.email">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password" required="" (ngModel)="userData.password">
        </mat-form-field>
    
        <button mat-raised-button color="primary">Entrar</button>
    
    </form>

    <p class="mt-3">
        Ainda não tem conta?
        <a routerLink="/sigin">Cadastre-se</a>
    </p>

</mat-card>