:host {
}

.example-spacer {
  flex: 1 1 auto;
}

.add-new-task {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.mat-card-title {
  font-size: 20px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
